.nav-centered {
  background: var(--current_line);
}

.nav {
  max-width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: auto;
  padding: 0;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: var(--foreground);
}

.nav a:hover {
  background: var(--comment);
}

/* tablet */
@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
    padding: 0;
  }

  .nav li {
    flex: 1;
    align-items: stretch;
    text-align: center;
  }
}

/* mobile */
@media all and (max-width: 400px) {
  .nav {
    flex-flow: column wrap;
    padding: 0;
  }

  .nav a {
    text-align: center;
    padding: 0.5em;
  }
}
