{{ define "main" }}
<h1>{{ .Title | markdownify }}</h1>
{{ with .Content }} {{ . }} {{ end }}

<ul class="post-list">
  {{ $pages := .Pages }} {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end
  }} {{ range (where $pages "Section" "!=" "") }}
  <div class="post-wrapper">
    <a href="{{ .RelPermalink }}">
      <li class="post">
        <div class="post-title">
          <h2>{{ .Title | markdownify }}</h2>
          <p>{{ .Date.Format "2006-01-02" }}</p>
        </div>
        {{ if .Summary }}
        <p class="post-summary">
          {{ .Summary | strings.Truncate 200 | plainify }}
        </p>
        {{ end }}
      </li>
    </a>
    {{ partial "topics_simple.html" . }}
  </div>
  {{ end }}
</ul>
{{ end }}
