{{ define "main" }}
<!-- title -->
<h1 class="single-title">{{ .Title | markdownify }}</h1>

<!-- date published -->
{{ if (gt .Params.date 0) }}
<h3 class="single-date">{{ .Date.Format "2006-01-02" }}</h3>
{{ end }} {{ partial "topics.html" . }}

<!-- table of contents -->
{{ if in .TableOfContents "li" }}
<div x-data="{ open: false }" class="toc-wrapper">
  <div class="toc-card">
    <a @click="open = ! open" class="toc-dropdown" href="#">
      <div class="toc-title">
        <h3>table of contents</h3>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
    </a>
    <div x-cloak x-show="open" @click.outside="open = false" class="toc-body">
      {{ .TableOfContents }}
    </div>
  </div>
</div>
{{ end }}

<!-- main content -->
{{ .Content }}

<!-- -->
{{ end }}
